<div class="container">
  <h1 class="py-2">LocaleBanen</h1>

  <div class="card-container">
    <div class="card mb-2 p-2" *ngFor="let item of cards">
    <span>
      Vacancy Link - <a [href]="item.link">{{item.link}}</a>
    </span>

      <span>
        Vacancy Title - {{item.title}}
    </span>

      <span>
      City - {{item.city}}
    </span>

      <span>Telephone -
        <span *ngIf='isLoading$ | async' class='spinner-border spinner-border-sm' role='status'
              aria-hidden='true'></span>
        <span *ngIf='!(isLoading$ | async)'>{{item?.contactDetails}}</span>
       </span>

      <span>Company Name -
        <span *ngIf='isLoading$ | async' class='spinner-border spinner-border-sm' role='status'
              aria-hidden='true'></span>
        <span *ngIf='!(isLoading$ | async)'>{{item?.companyName}}</span>
       </span>

      <span>Links (including email) -
        <span *ngIf='isLoading$ | async' class='spinner-border spinner-border-sm' role='status'
              aria-hidden='true'></span>

        <span *ngIf='!(isLoading$ | async)'>
          <div *ngFor="let link of item?.vacancyEmail">
              <a [href]="link">{{link}}</a>
          </div>
       </span>
      </span>

    </div>
  </div>
</div>

